{% extends 'PassManager/compoents/header.html' %}

{% block content %}
<style>
  .formBody{
  margin: auto;
}
.parDiv{
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 2rem;
}
</style>



<form class="formBody" method="POST" style="width:35vw">
     <div class="parDiv">
    <h2>Pass Manager</h2>
    <h6>Log in or create a new account to access your secure vault.</h6>
  </div>

    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <input type="text" name="username" id="form1Example1" class="form-control" />
      <label class="form-label" for="form1Example1">Username</label>
    </div>
    {% csrf_token %}
    {% if data.error.username %}
    <p>{{ data.error.username }}</p>
    {% endif %}

    <!-- Password input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <input type="password" name="password1" id="form1Example2" class="form-control " />
      <label class="form-label" for="form1Example2">Password</label>
      <div class="valid-feedback">Looks good!</div>
    </div>   
     {% if data.error.password1 %}
    <p>{{ data.error.password1 }}</p>
    {% endif %}
    

    <div data-mdb-input-init class="form-outline mb-4">
        <input type="password" name="password2" id="form1Example2" class="form-control" />
        <label class="form-label" for="form1Example2">Confirm Password</label>
      </div>
    {% if data.error.password2 %}
    <p>{{ data.error.password2 }}</p>
    {% endif %}
    
  
    <!-- Submit button -->
    <input class="btn btn-primary btn-block" type="submit" value="Register"/>
    <div class="text-center" style="margin-top:1rem;">
      <p>Already a member? <a href="{% url 'login' %}" >Login</a></p>
    </div>
  </form>
{% endblock  %}