{% extends 'PassManager/compoents/header.html' %}

{% block content %}
<h1>Register</h1>



<form method="POST">
    
    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <input type="text" name="username" id="form1Example1" class="form-control" />
      <label class="form-label" for="form1Example1">Username</label>
    </div>
    {% csrf_token %}
    {% if data %}
    <p>{{ data.error }}</p>
    {% endif %}

    <!-- Password input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <input type="password" name="password1" id="form1Example2" class="form-control" />
      <label class="form-label" for="form1Example2">Password</label>
    </div>

    <div data-mdb-input-init class="form-outline mb-4">
        <input type="password" name="password2" id="form1Example2" class="form-control" />
        <label class="form-label" for="form1Example2">Confirm Password</label>
      </div>
    
  
    <!-- Submit button -->
    <input class="btn btn-primary btn-block" type="submit" value="Register"/>
  </form>
{% endblock  %}